{% extends 'projects/base.html' %}

{% block content %}
<div class="container mt-4">
  <h2>Add Project</h2>
  {% if error %}
  <div class="alert alert-danger">{{ error }}</div>
{% endif %}

  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Project Name</label>
      <input type="text" name="name" id="name" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="client_name">Client Name</label>
      <input type="text" name="client_name" id="client_name" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="phone">Client Phone</label>
      <input type="tel" name="phone" id="phone" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Add Project</button>
  </form>
  {% for project in projects %}
  <ul>
    <li style="text-decoration:none; list-style:none;">{{ forloop.counter }}. {{ project.name }} - {{ project.client_name }} ({{ project.phone }})</li>
  </ul>
  {% endfor %}
</div>
{% endblock %}
